.sign-in {
    border-top: 1px solid #3D3D3D;
    max-width: 800px;
    padding-top: 30px;

    &__text {
        font-size: 1.6rem;
        color: #7F7F7F;
    }

    &__link {
        color: #4B72C2;
        font-size: 1.6rem;
        margin-right: 5px;
        position: relative;

        &::after {
            content: url('../../assets/arrow.svg');
            top: 2px;
            position: absolute;
        }
    }
}